.footer {
    background-color: var(--secondary-color);
    padding: 12px;
    padding-right: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10pt;
}

.footer-menu-item {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-menu-item:hover {
    color: deepskyblue;
}