@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* --primary-color: rgb(52, 134, 193); */
    --primary-color: rgb(31, 12, 100);
    /* --hover-color: rgb(72, 154, 203); */
    --hover-color: rgb(51, 32, 120);
    /* --active-color: rgb(82, 164, 213); */
    --active-color: rgb(61, 42, 130);
    --secondary-color: rgb(245, 245, 245);
    --error-color: rgb(184, 40, 40);
    --disabled-color: rgb(120, 120, 120);
}

html,
body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    margin: 8px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}