@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    --primary-color: rgb(52, 134, 193);
    --hover-color: rgb(72, 154, 203);
    --active-color: rgb(82, 164, 213);
    --secondary-color: rgb(245, 245, 245);
    --error-color: rgb(184, 40, 40);
    --disabled-color: rgb(120, 120, 120);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}